{{> barra}}
<div class="d-flex justify-content-center" allign="center">
    <h1 class="card-title">Lista de Contatos</h1><br>
</div>
{{>inserir}}
{{#with findQtContato}}
    <div class="d-flex justify-content-center" allign="center">
        <h1 class="card-title">Possui {{count}} Numeros na lista de contatos</h2>
    </div>
{{/with}}
{{#each findContato}}
    <div class="container">
        <ul class="list-group" id="contact-list">
            <li class="list-group-item">
                <div class="col-sm">
                    <table>
                        <tr>
                            <td width="200px">
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td width="150px">Nome</td><td width="350px"><b>{{nomeContato}}</b></td><td width="150px">Telefone</td><td width="350px"><b>{{telefoneContato}}</b></td>
                                    </tr>
                                    <tr>
                                        <td width="150px">Email</td><td width="350px"><b>{{emailContato}}</b></td><td width="150px">Nascimento</td><td width="350px"><b>{{nascContato}}</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="mailto:{{emailContato}}"><button class="btn btn-outline-info my-2 my-sm-0" type="submit">MAIL</button></a>
                                    <a href="https://api.whatsapp.com/send?phone={{telefoneContato}}"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">ZAP</button></a>
                                    <a href="/envioDel/{{idContato}}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Deletar</button></a>
                                </div>
                            </td>
                        </tr>
                    </table>    
                </div>
            </li>
        </ul>
    </div>
{{/each}}